@import "~@/styles/reset";
@import "~@/styles/vars";
@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar {
    width: 0px;
    // background-color: transparent;
}
body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
